$text-basic: #000;
$bright-yellow: #ffd166;
$bright-red: #FF3A20;
$bright-blue: #007EA7;
$dark-blue: #2B2D42;
$light-basic: #F4EBBE;
$bright-yellow-75: rgba(255, 209, 102, .75);
$bright-violet: rgb(167, 153, 204);
