$text-basic: #000;
$bright-yellow: #ffd166;
$bright-red: #ee6c4d;
$bright-blue: #007EA7;
$dark-blue: #2B2D42;
$light-basic: #F4EBBE;
$bright-yellow-75: rgba(255, 209, 102, .75);
$bright-violet: rgb(167, 153, 204);
$bright-violet-50: rgba(167, 153, 204, 0.5);
$black-40: rgba(0,0,0,0.4);
$bright-ink: #495867;
$bright-grey: #bbb1b1;
$background: #f9f7f3;
