@font-face {
  font-family: 'Cutive_Mono';
  src: url('../../assets/fonts/Cutive_Mono/CutiveMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass_Mono';
  src: url('../../assets/fonts/Overpass_Mono/OverpassMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dancing_Script';
  src: url('../../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Permanent_Marker';
  src: url('../../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype'); 
}

$header-font: 'Cutive_Mono';
$handwriting: 'Dancing_Script';
$marker: 'Permanent_Marker';

$font-s: 20px;
$font-m: 24px;
$font-l: 28px;
$font-xl: 56px;