@import "../../../styles/common.scss";

.projects-wrapper {
  @include content;
  padding-bottom: 200px;
  background-image: url('../../../assets/images/bg_projects.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $background;
  border-right: 2px solid $bright-red;
  border-left: 2px solid $bright-red;
  overflow-y: hidden;

  .projects-title {
    font-family: $marker;
    font-size: $font-xl;
    color: $bright-red;
    text-align: center;
    margin: 0;

    @media screen and (max-width: $breakpoint-mobile-plus){
      margin-bottom: 30px;
    }
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
      margin: 100px;

      @media screen and (max-width: $breakpoint-tablet){
        margin: 40px;
      }

      &:nth-child(3n+1) {
        .card {
          transform: rotate(10deg);

          &:hover {
            transform: rotate(9deg);
          }

          &::after {
            background: url('../../../assets/images/clip.png') no-repeat;
            background-size: 100%;
            right: 115px;
          }

          &__text {
            top: 0;
            left: 0;
          }
        }
      }

      &:nth-child(3n+2) {
        .card {
          transform: rotate(-15deg);

          &:hover {
            transform: rotate(-14deg);
          }

          &::after {
            background: url('../../../assets/images/clip4.png') no-repeat;
            background-size: 100%;
            right: 47px;
          }

          &__text {
            transform: rotate(10deg);
          }
        }
      }
    }
  }
}