@import "./partials/colors.scss";
@import "./partials/reset.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  background-size: 21px 21px;
  background-image:
    linear-gradient(to right, $bright-violet-50 1px, transparent 1px),
    linear-gradient(to bottom, $bright-violet-50 1px, transparent 1px);
  background-repeat: space space;
  overflow-y: hidden;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}