@import "../../../styles/common.scss";

.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  
  @media screen and (max-width: $breakpoint-tablet){
    display: none;
  }

  .header-list {
    @include content;
    background-color: $bright-yellow-25;
    border-radius: 30px;
    height: 80px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
    
    &--top {
      background-color: transparent;
    }

    a {
      text-decoration: none;
      font-family: $header-font;
      font-size: $font-l;
      font-weight: 700;
      color: $dark-blue;

      &:active,
      &:visited,
      &:focus {
        color: $dark-blue;
        outline: none;
      }
    }

    li:first-child {
      .marker-indicator {
        width: 180px;
        top: -30px;
        right: 0;
        bottom: 0;
        left: -10px;

        path {
          stroke-width: 3px;
        }
      }
    }

    li:nth-child(2) {
      .marker-indicator {
        width: 250px;
        top: -20px;
        right: 0;
        bottom: 0;
        left: -30px;

        path {
          stroke-width: 5px;
        }
      }
    }

    li:last-child {
      .marker-indicator {
        width: 200px;
        top: -30px;
        right: 0;
        bottom: 0;
        left: -40px;

        path {
          stroke-width: 5px;
        }
      }
    }
  }
}